# IDE-related folders
**/__pycache__/
**/.vscode/

# system files
*.nfs*

# cluster files
*.sh
*.out

# Testing files
tests.ipynb

# temporary files
results/**/*temp*
**/Shaked Code/

# old results
results/old results/*

# temporary excel files
results/*~*.xlsx